<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.zrhx.mapper.ScheduleJobLogMapper">
  <resultMap id="BaseResultMap" type="org.com.zrhx.model.ScheduleJobLog">
    <id column="LogID" jdbcType="VARCHAR" property="logID" />
    <result column="JobID" jdbcType="VARCHAR" property="jobID" />
    <result column="BeanName" jdbcType="VARCHAR" property="beanName" />
    <result column="MethodName" jdbcType="VARCHAR" property="methodName" />
    <result column="Params" jdbcType="VARCHAR" property="params" />
    <result column="Satus" jdbcType="TINYINT" property="satus" />
    <result column="Error" jdbcType="VARCHAR" property="error" />
    <result column="Times" jdbcType="INTEGER" property="times" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    LogID, JobID, BeanName, MethodName, Params, Satus, Error, Times, CreateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from schedule_job_log
    where LogID = #{logID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from schedule_job_log
    where LogID = #{logID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.com.zrhx.model.ScheduleJobLog">
    insert into schedule_job_log (LogID, JobID, BeanName, 
      MethodName, Params, Satus, 
      Error, Times, CreateDate
      )
    values (#{logID,jdbcType=VARCHAR}, #{jobID,jdbcType=VARCHAR}, #{beanName,jdbcType=VARCHAR}, 
      #{methodName,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{satus,jdbcType=TINYINT}, 
      #{error,jdbcType=VARCHAR}, #{times,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.com.zrhx.model.ScheduleJobLog">
    insert into schedule_job_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logID != null">
        LogID,
      </if>
      <if test="jobID != null">
        JobID,
      </if>
      <if test="beanName != null">
        BeanName,
      </if>
      <if test="methodName != null">
        MethodName,
      </if>
      <if test="params != null">
        Params,
      </if>
      <if test="satus != null">
        Satus,
      </if>
      <if test="error != null">
        Error,
      </if>
      <if test="times != null">
        Times,
      </if>
      <if test="createDate != null">
        CreateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logID != null">
        #{logID,jdbcType=VARCHAR},
      </if>
      <if test="jobID != null">
        #{jobID,jdbcType=VARCHAR},
      </if>
      <if test="beanName != null">
        #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="satus != null">
        #{satus,jdbcType=TINYINT},
      </if>
      <if test="error != null">
        #{error,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.com.zrhx.model.ScheduleJobLog">
    update schedule_job_log
    <set>
      <if test="jobID != null">
        JobID = #{jobID,jdbcType=VARCHAR},
      </if>
      <if test="beanName != null">
        BeanName = #{beanName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        MethodName = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        Params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="satus != null">
        Satus = #{satus,jdbcType=TINYINT},
      </if>
      <if test="error != null">
        Error = #{error,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        Times = #{times,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CreateDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LogID = #{logID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.com.zrhx.model.ScheduleJobLog">
    update schedule_job_log
    set JobID = #{jobID,jdbcType=VARCHAR},
      BeanName = #{beanName,jdbcType=VARCHAR},
      MethodName = #{methodName,jdbcType=VARCHAR},
      Params = #{params,jdbcType=VARCHAR},
      Satus = #{satus,jdbcType=TINYINT},
      Error = #{error,jdbcType=VARCHAR},
      Times = #{times,jdbcType=INTEGER},
      CreateDate = #{createDate,jdbcType=TIMESTAMP}
    where LogID = #{logID,jdbcType=VARCHAR}
  </update>




  <insert id="insertList" parameterType="java.util.List">
    insert into schedule_job_log (LogID, JobID, BeanName,
    MethodName, Params, Satus,
    Error, Times, CreateDate
    )
    values
    <foreach close=")" collection="list" item="item" open="(" separator=",">
      #{item.logID,jdbcType=VARCHAR}, #{item.jobID,jdbcType=VARCHAR}, #{item.beanName,jdbcType=VARCHAR},
      #{item.methodName,jdbcType=VARCHAR}, #{item.params,jdbcType=VARCHAR}, #{item.satus,jdbcType=TINYINT},
      #{item.error,jdbcType=VARCHAR}, #{item.times,jdbcType=INTEGER}, #{item.createDate,jdbcType=TIMESTAMP}

    </foreach>
  </insert>

  <delete id="deleteBatch" parameterType="java.util.List">
    delete from schedule_job_log
    where LogID IN
    <foreach close=")" collection="list" item="item" open="(" separator=",">
      #{item.logID,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <select id="queryList" parameterType="org.com.zrhx.model.ScheduleJobLog" resultMap="BaseResultMap">
    SELECT  *  FROM  schedule_job_log
    <where>
      <if test="beanName != null  and beanName.trim() != ''">
        and BeanName  like concat('%',#{beanName},'%')
      </if>
      <if test="methodName != null  and methodName.trim() != ''">
        and MethodName like concat('%',#{methodName},'%')
      </if>
    </where>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by CreateDate asc
      </otherwise>
    </choose>

  </select>
  <select id="queryTotal" parameterType="org.com.zrhx.model.ScheduleJobLog" resultType="java.lang.Integer">
    SELECT  COUNT(1)  FROM  schedule_job_log
    <where>
      <if test="beanName != null  and beanName.trim() != ''">
        and BeanName  like concat('%',#{beanName},'%')
      </if>
      <if test="methodName != null  and methodName.trim() != ''">
        and MethodName like concat('%',#{methodName},'%')
      </if>
    </where>
  </select>
</mapper>