package ${package}.org.com.zrhx.mapper;

import ${package}.org.com.zrhx.model.${className};

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseDao<${className}> {
	
}
