-- 菜单SQL
INSERT INTO `sys_menu` (`PermissionID`, `ParentID`, `PermissionCode`, `PermissionName`, `url`, `Description`, `Description`,`Memo`, `PermissionSN`)
    VALUES ('1', '${comments}', 'generator/${pathName}.html', NULL, '1', 'fa fa-file-code-o', '6');

-- 按钮父菜单ID
set @parentId = @@identity;

-- 菜单对应按钮SQL
INSERT INTO `sys_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `order_num`)
    SELECT @parentId, '查看', null, '${pathName}:list,${pathName}:info', '2', null, '6';
INSERT INTO `sys_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `order_num`)
    SELECT @parentId, '新增', null, '${pathName}:save', '2', null, '6';
INSERT INTO `sys_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `order_num`)
    SELECT @parentId, '修改', null, '${pathName}:update', '2', null, '6';
INSERT INTO `sys_menu` (`parent_id`, `name`, `url`, `perms`, `type`, `icon`, `order_num`)
    SELECT @parentId, '删除', null, '${pathName}:delete', '2', null, '6';



INSERT INTO `sys_permission` (`PermissionID`, `ParentID`,`PermissionCode`, `PermissionName`, `url`, `Description`, `Memo`, `PermissionSN`)
VALUES ('${keyid_1}', '1', '${className}Manager','${comments}', 'sys/${pathName}.html', NULL, NULL , 6);
INSERT INTO `sys_permission` (`PermissionID`, `ParentID`, `PermissionCode`,`PermissionName`, `url`, `Description`, `PermissionType`, `Memo`, `PermissionSN`)
 VALUES ('${keyid_2}', '${keyid_1}', '${className}Select','查看', NULL, '${pathName}:list,${pathName}:info', '2', NULL, 0);
INSERT INTO `sys_permission` (`PermissionID`, `ParentID`, `PermissionCode`,`PermissionName`, `url`, `Description`, `PermissionType`, `Memo`, `PermissionSN`)
 VALUES ('${keyid_3}', '${keyid_1}', '${className}Add','新增', NULL, '${pathName}:save', '2', NULL, 0);
INSERT INTO `sys_permission` (`PermissionID`, `ParentID`,`PermissionCode`, `PermissionName`, `url`, `Description`, `PermissionType`, `Memo`, `PermissionSN`)
 VALUES ('${keyid_4}', '${keyid_1}', '${className}Update','修改', NULL, '${pathName}:update', '2', NULL, 0);
INSERT INTO `sys_permission` (`PermissionID`, `ParentID`, `PermissionCode`,`PermissionName`, `url`, `Description`, `PermissionType`, `Memo`, `PermissionSN`)
 VALUES ('${keyid_5}', '${keyid_1}', '${className}Delete','删除', NULL, '${pathName}:delete', '2', NULL, 0);
