package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;
import ${package}.mapper.${className}Mapper;
import ${package}.model.${className};
import ${package}.service.BaseServiceImpl;
import ${package}.model.${className};
import ${package}.service.${className}Service;



@Service("${classname}Service")
public class ${className}ServiceImpl extends BaseServiceImpl<${className},${className}Mapper> implements ${className}Service {

	
}
