package ${package}.service;

import ${package}.model.${className};

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service  extends BaseService< ${className}> {
	

}
