#if($level)
package ${package}.${levelpackage}service;
import ${package}.${levelpackage}model.${className};
import ${package}.service.BaseService;
#else
package ${package}.service;
import ${package}.model.${className};
#end
import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service  extends BaseService< ${className}> {
	

}
