<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.com.zrhx.mapper.SysDictionaryHeaderMapper">
  <resultMap id="BaseResultMap" type="org.com.zrhx.model.SysDictionaryHeader">
    <id column="HeaderCode" jdbcType="VARCHAR" property="headerCode" />
    <result column="HeaderName" jdbcType="VARCHAR" property="headerName" />
    <result column="DictionaryType" jdbcType="VARCHAR" property="dictionaryType" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="EnabledFlag" jdbcType="VARCHAR" property="enabledFlag" />
    <result column="CreateBy" jdbcType="VARCHAR" property="createBy" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UpdateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="UpdateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    HeaderCode, HeaderName, DictionaryType, Memo, EnabledFlag, CreateBy, CreateDate, 
    UpdateBy, UpdateDate
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary_header
    where HeaderCode = #{headerCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_dictionary_header
    where HeaderCode = #{headerCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.com.zrhx.model.SysDictionaryHeader">
    insert into sys_dictionary_header (HeaderCode, HeaderName, DictionaryType, 
      Memo, EnabledFlag, CreateBy, 
      CreateDate, UpdateBy, UpdateDate
      )
    values (#{headerCode,jdbcType=VARCHAR}, #{headerName,jdbcType=VARCHAR}, #{dictionaryType,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{enabledFlag,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.com.zrhx.model.SysDictionaryHeader">
    insert into sys_dictionary_header
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="headerCode != null">
        HeaderCode,
      </if>
      <if test="headerName != null">
        HeaderName,
      </if>
      <if test="dictionaryType != null">
        DictionaryType,
      </if>
      <if test="memo != null">
        Memo,
      </if>
      <if test="enabledFlag != null">
        EnabledFlag,
      </if>
      <if test="createBy != null">
        CreateBy,
      </if>
      <if test="createDate != null">
        CreateDate,
      </if>
      <if test="updateBy != null">
        UpdateBy,
      </if>
      <if test="updateDate != null">
        UpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="headerCode != null">
        #{headerCode,jdbcType=VARCHAR},
      </if>
      <if test="headerName != null">
        #{headerName,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryType != null">
        #{dictionaryType,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="enabledFlag != null">
        #{enabledFlag,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.com.zrhx.model.SysDictionaryHeader">
    update sys_dictionary_header
    <set>
      <if test="headerName != null">
        HeaderName = #{headerName,jdbcType=VARCHAR},
      </if>
      <if test="dictionaryType != null">
        DictionaryType = #{dictionaryType,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        Memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="enabledFlag != null">
        EnabledFlag = #{enabledFlag,jdbcType=VARCHAR},
      </if>
      <!--<if test="createBy != null">
        CreateBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CreateDate = #{createDate,jdbcType=TIMESTAMP},
      </if>-->
      <if test="updateBy != null">
        UpdateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UpdateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where HeaderCode = #{headerCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.com.zrhx.model.SysDictionaryHeader">
    update sys_dictionary_header
    set HeaderName = #{headerName,jdbcType=VARCHAR},
      DictionaryType = #{dictionaryType,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR},
      EnabledFlag = #{enabledFlag,jdbcType=VARCHAR},
      UpdateBy = #{updateBy,jdbcType=VARCHAR},
      UpdateDate = #{updateDate,jdbcType=TIMESTAMP}
    where HeaderCode = #{headerCode,jdbcType=VARCHAR}
  </update>

  <insert id="insertList" parameterType="java.util.List">
  insert into sys_dictionary_header (HeaderCode, HeaderName, DictionaryType,
      Memo, EnabledFlag, CreateBy,
      CreateDate, UpdateBy, UpdateDate
      )
    values
    <foreach close=")" collection="list" item="item" open="(" separator=",">
    #{item.headerCode,jdbcType=VARCHAR}, #{item.headerName,jdbcType=VARCHAR}, #{item.dictionaryType,jdbcType=VARCHAR},
      #{item.memo,jdbcType=VARCHAR}, #{item.enabledFlag,jdbcType=VARCHAR}, #{item.createBy,jdbcType=VARCHAR},
      #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP}

    </foreach>
  </insert>

  <delete id="deleteBatch" parameterType="java.util.List">
     delete from sys_dictionary_header
    where HeaderCode IN
    <foreach close=")" collection="list" item="item" open="(" separator=",">
    #{item.headerCode,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <select id="queryList" parameterType="org.com.zrhx.model.SysDictionaryHeader" resultMap="BaseResultMap">
     SELECT  *  FROM  sys_dictionary_header
    <where>
      <if test="headerName != null and headerName.trim() != ''">
        and `HeaderName` like concat('%',#{headerName},'%')
      </if>
      <if test="dictionaryType != null  and dictionaryType.trim() != ''">
        and DictionaryType = #{dictionaryType}
      </if>
    </where>
    <choose>
      <when test="sidx != null and sidx.trim() != ''">
        order by ${sidx} ${order}
      </when>
      <otherwise>
        order by CreateDate asc
      </otherwise>
    </choose>

  </select>
  <select id="queryTotal" parameterType="org.com.zrhx.model.SysDictionaryHeader" resultType="java.lang.Integer">
    SELECT  COUNT(1)  FROM  sys_dictionary_header
    <where>
      <if test="headerName != null and headerName.trim() != ''">
        and `HeaderName` like concat('%',#{headerName},'%')
      </if>
      <if test="dictionaryType != null  and dictionaryType.trim() != ''">
        and DictionaryType = #{dictionaryType}
      </if>
    </where>
  </select>

  <update id="updateBatchFlag"  parameterType="org.com.zrhx.model.SysDictionaryHeader">
    UPDATE   sys_dictionary_header
    SET  EnabledFlag = #{enabledFlag}
    where HeaderCode IN
    <foreach collection="list" item="item" close=")" separator="," open="(">
      #{item}
    </foreach>
  </update>
</mapper>